<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <% if comment.user_id == @user.id %>
          <p>
            <%= comment.content %>
          </p>
          <div class="comment-edit-delete">
            <p>
              <%= link_to 'Edit', edit_recipe_comment_path(@recipe, comment) %>
              <%= link_to 'Delete', recipe_comment_path(@recipe, comment), method: :delete, data: {confirm: "Are you sure?"} %>
            </p>
          </div>
        <% else %>
          <p>
            <%= comment.content %> by <% @user_firstname %>
          </p>
        <% end %>
      </div>
    </div>
  </article>
</div>
<div>
  <div class="comments_comment">
    <%= form_for([comment, comment.comments.build]) do |f| %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.hidden_field :recipe_id, value: @recipe.id %>
      <%= f.text_area :content, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>
    <% end %>
  </div>
  <div>
  </div>
</div>
