<div class="comment-edit">
  <div id="rating-form">
    <label>Rating</label>
  </div>
  <h4>Comment:</h4>
  <section>
    <%= form_for [@recipe, @comment] do |f| %>
      <%= f.hidden_field :recipe_id, value: @recipe.id %>
      <%= f.text_area :content, placeholder: "Comment" %><br/>
      <%= f.submit "Update Comment" %>
    <% end %>
  </section>
</div>

<!-- JS script for Raty -->
<%= render '/comments/review_rating_script' %>
