<div class="recipe-show">
  <div class="recipe-inline">
    <div class="description-show">
      <div class="recipe-title-show">
        <h1><%= @recipe.title %></h1>
      </div>
      <div class="description">
        <%=  @recipe.description%>
        <br>
        <br>
        <div class="recipe-description-show">
          <p id="ingredients">Ingredients:</p>
          <div class="ingredient"><% @recipe.ingredients.each do |ingredient| %>
            <% recipe_ingredient = @recipes_facade.get_recipe_ingredients(@recipe.id, ingredient.id) %>
              <% if recipe_ingredient.quantity > 1 %>
                <div class="name"><%= "#{recipe_ingredient.quantity} #{recipe_ingredient.measurement}s #{ingredient.name}" %></div>
                <% else %>
                <div class="name"><%= "#{recipe_ingredient.quantity} #{recipe_ingredient.measurement} #{ingredient.name}" %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="recipe-image-show">
      <% if @recipe.image.attached? %>
      <%= image_tag(url_for(@recipe.show_image)) %>
      <% end %>
    </div>
  </div>
</div>
<table class="favorites-button">
  <tr>
    <th>
      <% if current_user %>
        <% if @recipes_facade.recipe_favorited?(@recipe.id, @user.id).nil? %>
          <%= button_to 'Add to Favorites', favorites_path(@recipe), method: :post, class: "btn btn-primary"  %>
        <% else %>
          <%= button_to 'Remove from my Favorites', favorite_path(@recipe), method: :delete, class: "btn btn-danger"  %>
        <% end %>
      <% end %>
    </th>
  </tr>
</table>
