<div class="recipe-show">
  <div class="recipe-inline">
    <div class="description-show">
      <div class="recipe-title-show">
        <h1><%= @recipe.title %></h1>
        <div class="review-rating" data-score = "<%= @recipes_facade.get_rating(@recipe.id) %>"></div>
        <p>
          <%= @recipe.comments.count %> Reviews
        </p>
      </div>
      <div class="description">
        <%=  @recipe.description%>
        <br>
        <!-- <div class="portion">
          Choose Number of Portions: <input type="number" id="user-portion", min="1", max="25", step="1">
          <button id="submit-portion">Submit</button>
        </div> -->
        <br>
        <div class="recipe-description-show">
          <p id="ingredients">Ingredients:</p>
          <div class="ingredient"><% @recipe.ingredients.each do |ingredient| %>
            <% recipe_ingredient = @recipes_facade.get_recipe_ingredients(@recipe.id, ingredient.id) %>
              <% if recipe_ingredient.quantity > 1 %>
                <div class="name"><%= "#{recipe_ingredient.quantity} #{recipe_ingredient.measurement}s #{ingredient.name}" %></div>
                <% else %>
                <div class="name"><%= "#{recipe_ingredient.quantity} #{recipe_ingredient.measurement} #{ingredient.name}" %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="recipe-image">
      <img src=>
      <% if @recipe.image.attached? %>
      <%= image_tag(url_for(@recipe.show_image)) %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="recipe-show-steps">
    <h3>Directions:</h3>
    <br>
    <% @recipe.steps.each_with_index do |step, i| %>
      <p>Step <%= i + 1 %>: </p>
      <div class="recipe-step">
        <%= step.step %>
      </div>
      <br>
    <% end %>
  </div>
</div>
