<body>
  <header class="header">
      <div class="main-title">
        <h1 class="title">Recipes</h1>
      </div>
  </header>
  <div class="recipe-count">
    <% if @query == "" %>
      <p><%= @recipes.count %> results for "all recipes"</p>
    <% elsif @recipes.count == 1 %>
      <p><%= @recipes.count %> result for "<%= @query %>"</p>
    <% else %>
      <p><%= @recipes.count %> results for "<%= @query %>"</p>
    <% end %>
  </div>
  <main class="main">
    <div class="card-container">
      <% @recipes.each_with_index do |recipe, i| %>
        <div class="recipe">
          <a href="#">
            <div class="recipe-image">
              <img src=>
              <% recipe_image = recipe.get_recipe(recipe.id) %>
              <% if recipe_image.image.attached? %>
                <%= image_tag(url_for(recipe_image.cropped_image)) %>
              <% end %>
            </div>
            <div class="recipe-title">
              <h2><%= link_to recipe.title, recipe_path(recipe.id) %></h2>
            </div>
            <div class="review-rating" id="review-rating-index" data-score = "<%= @recipes_facade.get_rating(recipe.id) %>"></div>
            <div class="description">
              <p><%= link_to recipe.description, recipe_path(recipe.id) %></p>
            </div>
            <div>
              <div class="author">
                <% author = User.find(recipe.user_id) %>
                <p>
                  <%= link_to "By #{author.first_name.capitalize}  #{author.last_name.first.capitalize}.", dashboard_my_profile_path(author.id), :style=> 'font-family: "Apple Chancery", cursive;' %>
                </p>
                <div class="author-profile-picture">
                  <% if author.avatar.attached? %>
                  <%= image_tag(url_for(author.cropped_avatar), height: '40', :id => "my-profile-picture") %>
                  <% else %>
                  <%= image_tag("user_image.png", height: '40')%>
                  <% end %>
                </div>
              </div>
            </div>
            <div>
              <ul class="ingredients"><% recipe.ingredients.each do |ingredient| %>
                <% end %>
              </ul>
            </div>
            </a>
          </div>
        <% end %>
      </div>
  </main>
</body>

<!-- JS Script for Raty -->
<%= render '/comments/rating_script' %>
