<div>
    <%= render partial: "recipe_show"%>
    <table class="favorites-button">
      <tr>
        <th>
          <% if current_user %>
            <% if @recipes_facade.recipe_favorited?(@recipe.id, @user.id).nil? %>
              <%= button_to 'Add to Favorites', favorites_path(@recipe), method: :post, class: "btn btn-primary"  %>
            <% else %>
              <%= button_to 'Remove from my Favorites', favorite_path(@recipe), method: :delete, class: "btn btn-danger"  %>
            <% end %>
          <% end %>
        </th>
      </tr>
    </table>
</div>
<% if current_user %>
<div class="comments">
  <h5>Reviews:</h5>
  <div class="comment-form">
    <%= render @recipe.comments %>
  </div>

    <%= form_for([@recipe, @recipe.comments.build]) do |f| %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.hidden_field :recipe_id, value: @recipe.id %>

      <div id="rating-form">
        <label>Rating</label>
      </div>

      <%= f.text_area :content, placeholder: "Comment" %><br/>
      <%= f.submit "Add Comment"  %>
    <% end %>
<% end %>
</div>

<!-- JS script for Raty -->
<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'comment[rating]'
  });
</script>
