<%= render '/dashboard/dashboard/dash_nav' %>
<br>

<body>
  <header class="header">
      <div class="main-title">
        <h1 class="title">My Recipes</h1>
      </div>
  </header>
  <div class="recipe-count">
    <p>Results: <%= @my_recipes.count %></p>
  </div>
  <main class="main">
    <div class="card-container">
      <% @my_recipes.each_with_index do |recipe, i| %>
        <div class="recipe">
          <a href="#">
            <div class="recipe-image">
              <img src=>
              <% recipe_image = recipe.get_recipe(recipe.id) %>
              <%= image_tag(url_for(recipe_image.thumbnail)) %>
            </div>
            <div class="recipe-title">
              <h2><%= link_to recipe.title, dashboard_my_recipe_path(recipe.id) %></h2>
            </div>
            <div class="description">
              <p><%= link_to recipe.description, dashboard_my_recipe_path(recipe.id) %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
  </main>
</body>
