<%= render '/dashboard/dashboard/dash_nav' %>

<body>
  <header class="header">
      <div class="main-title">
        <h1 class="title">My Recipes</h1>
      </div>
  </header>
  <div class="recipe-count">
    <% if @my_recipes.count == 1 %>
      <p><%= @my_recipes.count %> recipe</p>
    <% else %>
      <p><%= @my_recipes.count %> recipes</p>
    <% end %>
  </div>
  <main class="main">
    <div class="card-container">
      <% @my_recipes.each_with_index do |recipe, i| %>
        <div class="recipe">
          <a href="#">
            <div class="recipe-image">
              <img src=>
              <% recipe_image = recipe.get_recipe(recipe.id) %>
              <% if recipe_image.image.attached? %>
                <%= image_tag(url_for(recipe_image.thumbnail)) %>
              <% end %>
            </div>
            <div class="review-rating" id="review-rating-index" data-score = "<%= @recipes_facade.get_rating(recipe.id) %>"></div>
            <div class="recipe-title">
              <h2><%= link_to recipe.title, dashboard_my_recipe_path(recipe.id) %></h2>
            </div>
            <div class="description">
              <p><%= link_to recipe.description, dashboard_my_recipe_path(recipe.id) %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
  </main>
</body>

<!-- JS Script for Raty -->
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
