<% @user.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<br>
  <div class="register">
    <h4>Create an Account</h4>
    <section>
      <%= bootstrap_form_for(@user, inline_errors: false) do |form| %>
      <div>
        <%= form.text_field :first_name %>
      </div>
      <div>
        <%= form.text_field :last_name %>
      </div>
      <div>
        <%= form.text_field :username %>
      </div>
      <div>
        <%= form.password_field :password %>
      </div>
      <div>
        <%= form.password_field :password_confirmation %>
      </div>
      <div>
        <%= form.email_field :email %>
      </div>
      <div>
        <%= form.text_field :avatar %>
      </div>
      <div>
        <%= form.text_field :about %>
      </div>
      <div>
        <%= form.number_field :telephone %>
      </div>
      <%= form.submit 'Create Account' %>
      <% end %>
  </section>
  </div>
</div>
