<%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
  <div>
    <%= label_tag :recipe_type, "Measurement Type" %>
    <%= select_tag :measurement_type, options_for_select(measurement_type), class: "form-control" %>
  </div>
  <div>
    <%= label_tag :recipe_type, "Measurement" %>
    <%= select_tag :measurement, options_for_select(measurement), class: "form-control" %>
  </div>
  <div>
    <%= recipe_ingredient.label :quantity %>
    <%= recipe_ingredient.number_field :quantity, step: 0.25, class: "form-control" %>
  </div>
<% end %>
<div class="submit-ingredient">
  <%= f.submit 'Add Ingredient', class: "btn btn-primary" %>
</div>
