<br>
  <h3> <%= @recipe.title %> </h3>
  <p>Ingredients: </p>
  <% @recipe.ingredients.each do |ingredient| %>
    <div class="ingredient">
      <div class="detail-section">
        <div class="detail">
          <h5 class="ingredient-name"><%= ingredient.name %></h5>
        </div>
        <div class="detail">
          <%= link_to 'Edit', edit_ingredient_path(@recipe.id, ingredient.id)  %>
        </div>
        <div class="detail">
          <%= link_to 'Delete', ingredient_path, method: :destroy, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
  <p>Steps: </p>
  <% @recipe.steps.each do |step| %>
    <div class="step">
      <div class="detail-section">
        <div class="detail">
          <h5 class="ingredient-name"><%= step.name %></h5>
        </div>
        <div class="detail">
          <%= link_to 'Edit', edit_step_path(@recipe.id, step.id)  %>
        </div>
        <div class="detail">
          <%= link_to 'Delete', step_path, method: :destroy, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
