<section>
  <br>
    <div class="new-recipe">
      <h3> <%= @recipe.title %> </h3>
      <p>Ingredients: </p>
      <% @recipe.ingredients.each do |ingredient| %>
        <div>
          <%= ingredient.name %>
        </div>
      <% end %>
      <br>
      <p>Steps: </p>
      <% @recipe.steps.each_with_index do |step, i| %>
      <div class="step-<%= i + 1 %>">
        <div class="detail-section">
          <div class="detail">
            <p>Step <%= i + 1 %></p>
            <h5 class="ingredient-name"><%= step.step %></h5>
          </div>
          <div class="detail">
            <%= button_to 'Edit', edit_step_path(@recipe.id, step.id), method: :get, class: "btn btn-secondary" %>
          </div>
          <div class="detail">
            <%= button_to 'Delete', step_path(step.id, @recipe.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
      <% end %>
      <br>
      <h5>Add each step to your directions for <% @recipe.title %>:</h5>
  <%= form_for [@step] do |f| %>
  <p>Add each step to your directions:</p>
  <div class="form-group">
    <%= f.label :step %>
    <%= f.text_field :step, class: "form-control" %>
  </div>
  <div>
    <%= f.hidden_field :recipe_id, value: @recipe.id %>
  </div>
  <div class="detail-section">
    <div class="detail">
      <%= f.submit 'Add step', class: "btn btn-primary"  %>
      <% end %>
    </div>
    <div class="detail">
      <%= button_to 'Done', new_recipe_crop_recipe_image_path(@recipe.id), method: :get, class: "btn btn-success" %>
    </div>
  </div>
</section>
